Repository MarcinMiler/casting: changes, and which Codecov flags are due for each by the changed paths.
All: server, web

codecov.yml:

coverage:
    status:
        project:
            default: off
            web:
                flags: web
            server:
                flags: server

flags:
    server:
        paths:
            - server/src
    web:
        paths:
            - web/src

README
  README.md
  server/README.md
Due: none

Refactor form validation
  web/package.json
  web/src/Components/FormikInput/style.tsx
  web/src/Components/WizardForm/index.tsx
  web/src/Modules/Casting/Components/CreateCastingForm/index.tsx
  web/src/Modules/Casting/schema.ts
  web/src/Modules/Company/Components/CreateCompanyForm/index.tsx
  web/yarn.lock
Due: web

Refactor dockerfiles
  docker-compose.dev.yml
  package.json
  server/dev.Dockerfile
  server/src/app.module.ts
  web/dev.Dockerfile
Due: server

Makefile
  Makefile
Due: none

Refactor graphql service to use observables
  web/src/Common/Services/Graphql/GraphqlService.test.ts
  web/src/Common/Services/Graphql/index.ts
  web/src/Config/apolloClient.ts
  web/src/Config/rootService.ts
  web/src/Modules/Auth/Tests/Auth.epic.test.ts
  web/src/Modules/Auth/epic.ts
  web/src/Modules/Auth/service.ts
  web/src/Modules/Casting/Tests/Casting.epic.test.ts
  web/src/Modules/Casting/actions.ts
  web/src/Modules/Casting/epic.ts
  web/src/Modules/Casting/service.ts
  web/src/Modules/Company/Tests/Company.epic.test.ts
  web/src/Modules/Company/actions.ts
  web/src/Modules/Company/epic.ts
  web/src/Modules/Company/service.ts
Due: web

Tests for routing service
  web/src/Common/Services/Routing/RoutingService.test.ts
  web/src/Common/Services/Routing/index.ts
  web/src/Common/Services/graphqlService.ts
  web/src/Config/rootService.ts
  web/src/Modules/Auth/epic.ts
  web/src/Modules/Casting/epic.ts
  web/src/Modules/Company/epic.ts
Due: web
